:root {
    font-family: Helvetica;
    font-size: 14px;
}

* {
    font: inherit;
}

header {
	background-color: #ea4335;
	text-align: center;
	color: 	#ffffff;
	padding: 2px;
}

#meme-canvas {
    width: 300px;
}

.meme-generator {
	padding: 5% 0;
}

button {
	border-radius: 5px;
	font-size: 1.2em;
	color: #ffffff;
}

footer {
	background-color: #ea4335;
	text-align: center;
	color: 	#ffffff;
	padding: 2px;
}

